# ðŸ•’ Lesson 7: Datetime & Time Series in Pandas

In this lesson, we handle dates and timestamps, which are fundamental in finance, forecasting, log analysis, and trend analytics.

Step 1 â€” Converting to Datetime

In [1]:
import pandas as pd

dates = ['2024-01-01', '2024-01-05', '2024-02-01', '2024-03-10']
df = pd.DataFrame({'Date': dates, 'Value': [10, 20, 30, 40]})

df['Date'] = pd.to_datetime(df['Date'])
df

        Date  Value
0 2024-01-01     10
1 2024-01-05     20
2 2024-02-01     30
3 2024-03-10     40

Step 2 â€” Extract Components

In [2]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df

        Date  Value  Year  Month  Day
0 2024-01-01     10  2024      1    1
1 2024-01-05     20  2024      1    5
2 2024-02-01     30  2024      2    1
3 2024-03-10     40  2024      3   10

Step 3 â€” Filtering by Date Range

In [3]:
df[(df['Date'] >= '2024-01-01') & (df['Date'] <= '2024-02-01')]

        Date  Value  Year  Month  Day
0 2024-01-01     10  2024      1    1
1 2024-01-05     20  2024      1    5
2 2024-02-01     30  2024      2    1

Step 4 â€” Date Indexing (Most Important)

In [4]:
df.set_index('Date', inplace=True)
df

            Value  Year  Month  Day
Date
2024-01-01     10  2024      1    1
2024-01-05     20  2024      1    5
2024-02-01     30  2024      2    1
2024-03-10     40  2024      3   10

Now slicing becomes powerful:

In [6]:
df['2024-02-01':'2024-03-01']

            Value  Year  Month  Day
Date
2024-02-01     30  2024      2    1

Step 5 â€” Resampling (Aggregating by Time)

This is critical for real analysis.

In [7]:
df.resample('M').sum()    # Monthly sum
df.resample('M').mean()   # Monthly mean

C:\Users\sharm\AppData\Local\Temp\ipykernel_13872\3589758701.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('M').sum()    # Monthly sum
C:\Users\sharm\AppData\Local\Temp\ipykernel_13872\3589758701.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('M').mean()   # Monthly mean

            Value    Year  Month   Day
Date
2024-01-31   15.0  2024.0    1.0   3.0
2024-02-29   30.0  2024.0    2.0   1.0
2024-03-31   40.0  2024.0    3.0  10.0

Common frequencies:
| Code | Meaning   |
| ---- | --------- |
| D    | Daily     |
| W    | Weekly    |
| M    | Monthly   |
| Q    | Quarterly |
| Y    | Yearly    |

Step 6 â€” Rolling / Moving Window (Used Everywhere in Finance & ML)

In [8]:
df['Rolling_2'] = df['Value'].rolling(window=2).mean()
df

            Value  Year  Month  Day  Rolling_2
Date
2024-01-01     10  2024      1    1        NaN
2024-01-05     20  2024      1    5       15.0
2024-02-01     30  2024      2    1       25.0
2024-03-10     40  2024      3   10       35.0

### âœ… Summary

- Convert date strings to datetime using `pd.to_datetime`.
- Extract components using `.dt.year`, `.dt.month`, etc.
- Setting datetime as index enables time slicing and resampling.
- Resampling aggregates values into new time frequencies (daily/weekly/monthly).
- Rolling windows allow trend smoothing and moving calculations.